# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
#ef4444
#57534e


# loginslice
import { createSlice } from "@reduxjs/toolkit";
export const loginSlice = createSlice ({
    name:'login',
    initialState:{
value:false,
isAuthenticated:false
    },
    reducers:{
        showLogin: (state)=> {
            state.value = true

        },
           hideLogin: (state) => {
      state.value = false;
    },
    loginSuccess:(state) =>{
        state.value = false
        state.isAuthenticated=true
          localStorage.setItem("isLoggedIn", "true");
    },
    logOut:(state) =>{
        state.isAuthenticated=false
    }
       
    }
})
export const {showLogin, hideLogin, loginSuccess, logOut} = loginSlice.actions
export default loginSlice.reducer

# loginslice


# loginform

import React from 'react'
import { useDispatch } from 'react-redux'
import { useState } from 'react';
import { hideLogin} from '../features/login and signup/LoginSlice'
import { loginSuccess } from '../features/login and signup/LoginSlice';
import { showSign } from '../features/login and signup/SignupSlice';
function LoginForm() {
    
  const dispatch = useDispatch();
 const [focus, setFocus] = useState({
  
    errEmail: false,
    errPassword: false,

  })
const [inputs, setInputs] = useState({

  email:'',
  password:''
  

})
const handleSubmit = (e) => {
  e.preventDefault();
  const storedUsers = JSON.parse(localStorage.getItem("users")) || [];

  const user = storedUsers.find(u => u.email === inputs.email && u.password === inputs.password);

  if (!user) {
    alert("No account found or incorrect credentials, please Sign Up!");
    dispatch(showSign());
    return;
  }

  // Save logged-in user
  localStorage.setItem("user", JSON.stringify(user));
  dispatch(loginSuccess());
  alert("Login Successful!");

 

};


const handleChange = (e) => {
  const name = e.target.name
  const value = e.target.value
  setInputs({...inputs, [name]: value})
}
 
  return (
    <div>
             <form onSubmit={handleSubmit} action="">

        <div className='flex justify-between p-7  '>
            <div className='justify-center cursor-pointer flex'>
                <h1 className='font-bold text-2xl text-[#ef4444]'>Login</h1>

            </div>
              <div className='text-center items-center   justify-center'>
                <i className='bxr text-2xl text-[#57534e]  bx-x'></i> 

             </div>
             

        </div>
        <div className='items-center px-14'>
             <div>
          <input className='border-2 border-[#d1d5db] w-69 h-9 rounded-md placeholder:text-sm p-2' type="email" placeholder='Your email'  name = 'email'
     value ={inputs.email}
     onChange={handleChange}
     pattern='^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
     onBlur={()=> setFocus({...focus, errEmail: true })} 
     focus = {focus.errEmail.toString()} 
     required   /><br/>
     <span className=' lgin text-red-600 text-[12px] px-2'> Enter a valid Email id</span>

       </div>

       <div className='py-8'>
         <input className='border-2 border-[#d1d5db] w-69 h-9 rounded-md placeholder:text-sm p-2' type="password" placeholder='Your password'   name = 'password' 
      value ={inputs.password} 
      onChange={handleChange} 
      pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$' 
      onBlur={()=> setFocus({...focus, errPassword: true })} 
      focus = {focus.errPassword.toString()} 
      required  /><br/>
      <span className='lgin text-red-600 text-[12px] px-2'>Password must have minimum 8 characters and <br /> include atleast an uppercase, digit and special <br /> characters </span>

       </div>

        </div>
       
      
       
       <div className='flex text-center justify-center items-center'>
        <button  type='submit' className='bg-[#ef4444] w-69 h-10 rounded-md text-[white]'>Login</button>
       </div>
       <div className='flex px-16.5 py-4 gap-2'>
        <div>
            <input type="checkbox" />

        </div>
        <div>
             <p required className='text-[12px] text-[#57534e]'>By continuing, i agree to the terms of use & <br />privacy policy </p>


        </div>

       
        
       
       </div>
        <div className='flex px-16'>
            <p className='text-[13px] text-[#57534e]'>Create a new account?</p>
            <button onClick={()=>{ dispatch(hideLogin()); dispatch(showSign());}} className='text-[13px] px-1 text-[#ef4444]'>Click Here</button>

        </div>

             </form>
             
      

       
     
      
    </div>
  )
}

export default LoginForm


# loginform

# root

 // Auto login if stored in localStorage
 // AUTO LOGIN CHECK ON PAGE LOAD
const [loggedUser, setLoggedUser] = useState(null);

useEffect(() => {
  const savedUser = JSON.parse(localStorage.getItem("user"));
  const isLoggedIn = localStorage.getItem("isLoggedIn") === "true";

  if (savedUser && isLoggedIn) {
    
    dispatch(loginSuccess());
    setLoggedUser(savedUser); // 👈 store user info
  } else {
    dispatch(logOut());
    setLoggedUser(null);
    dispatch(showLogin())
  }

  // eslint-disable-next-line react-hooks/exhaustive-deps
}, []);

# root

# main.jsx


import App from './App.jsx'
import './App.css';
import * as React from "react";
import * as ReactDOM from "react-dom/client";
import store from './app/Store.jsx';
import { Provider } from 'react-redux';
import ErrorPage from './pages/ErrorPage.jsx';
import Root from './routing/root.jsx';
import Home from './pages/Home.jsx';
import Menu from './pages/Menu.jsx';
import About from './pages/About.jsx';
import Contact from './pages/Contact.jsx';
import Cart from './pages/Cart.jsx';
import Checkout from './pages/Checkout.jsx';
import Order from './pages/Order.jsx';
import Myorders from './pages/Myorders.jsx'; 
import TrackOrder from './pages/TrackOrder.jsx';

import {
  createBrowserRouter,
  RouterProvider,
} from "react-router-dom";

const router = createBrowserRouter([
  {
    path: "/",
    element: <Root />,
    errorElement: <ErrorPage />,
    children: [
      { index: true, element: <App /> },

      { path: "/home", element: <Home /> },
      { path: "/menu", element: <Menu /> },
      { path: "/about", element: <About /> },
      { path: "/contact", element: <Contact /> },
      { path: "/cart", element: <Cart /> },
      { path: "/checkout", element: <Checkout /> },
      { path: "/order", element: <Order /> },
      { path: "/myorder", element: <Myorders /> },
       { path: "/trackorder", element: <TrackOrder /> },
    ],
  },
]);

ReactDOM.createRoot(document.getElementById("root")).render(
  <React.StrictMode>
    <Provider store={store}>
      <RouterProvider router={router} />

      </Provider> 
    
  </React.StrictMode>
);
# main.jsx