@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@import "tailwindcss";


body{
      font-family: "Roboto", sans-serif;
}
html{
    scroll-behavior: smooth;
}

.dark {
  color-scheme: dark;
}

/* Full page BG + text */
.dark body,
.dark #root,
.dark main {
  background-color: #111315 !important;
  color: #ffffff !important;
}

/* Navbar */
.dark header, 
.dark nav {
  background-color: #1a1a1a !important;
  color: #ffffff ;
}

/* Nav links */
.dark a {
  color: white ;
}
.dark a:hover{
  color: #ef4444;
}

/* Card containers (future pages too) */
.dark .card {
  background-color: #1f1f1f !important;
  color: #ffff !important;
}

/* dark home page */
.dark .mainimg{
  border: 4px solid #ef4444 ;
  border-radius: 8px;
}
.dark .buybtn:hover{
background-color: #111315;
color: #ef4444;
}
.dark .contactbtn{
 
  color:#ef4444
}
.dark .contactbtn:hover{
color:white
}
.dark .signupbtn{
  color:#ef4444 !important;
}
.dark .burgerimg{
  border: 4px solid #ef4444;
  border-radius: 8px;
}
.dark .pizzaimg{
  border: 4px solid #ef4444;
  border-radius: 8px;
}
.dark .frenchimg{
  border: 4px solid #ef4444;
  border-radius: 8px;
}


/* dark home page */
/* menu page */
.dark .dealscard{
  box-shadow: none;
}
/* menu page */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.dark footer{
   background-color: #1a1a1a !important;
  color: #ffffff ;
}
   .lgin {
    display: none;
}

input:invalid[focus = 'true'] ~  .lgin {
    display: block;
}
/* mobile */
.dark .mbile{
  background-color: rgb(40, 37, 37) ;
}
@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slide-left 0.3s ease-out forwards;
}
